<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276701256624-1lt3917jjp5t05jorkkugs8lv3ch96mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276701256624-1lt3917jjp5t05jorkkugs8lv3ch96mt</string>
	<key>API_KEY</key>
	<string>AIzaSyAd5tc2STXEqaxqCYM3E7VSPMF15pJ1sDA</string>
	<key>GCM_SENDER_ID</key>
	<string>276701256624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.GoogleSighInProject</string>
	<key>PROJECT_ID</key>
	<string>signinproject-2af92</string>
	<key>STORAGE_BUCKET</key>
	<string>signinproject-2af92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276701256624:ios:daca8972b594c416</string>
	<key>DATABASE_URL</key>
	<string>https://signinproject-2af92.firebaseio.com</string>
</dict>
</plist>